header {
  background-color: #ffeb3b;
  color: black;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

header h1 {
  margin-bottom: 10px;
  font-size: 32px;
}

nav {
  background-color: #ffeb3b;
  padding: 10px;
 
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  border-radius: 30px;

  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
  background-color: #e53935;
}

nav ul li a:hover {
  background-color: #a91f1f;
  color: #ffeb3b;
}
