body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: linear-gradient(90deg, #FFEB3B, #E53935);
}

label {
    text-align: left;
}

#menu-caixa {
    max-width: 1200px;
    border-radius: 25px;
    background-color: #FFEB3B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

#inputCadastrar-caixa {
    text-align: center;
    padding: 30px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    width: 60%;
    background-color: #E53935;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

#textoLogar-caixa {
    text-align: center;
    padding: 20px;
    width: 40%;

}

#inputCadastrar-caixa h1,
#textoLogar-caixa h2 {
    color: black;
    margin-bottom: 10px;
}

#inputCadastrar-caixa p,
#textoLogar-caixa p {
    margin-bottom: 15px;
}

#inputCadastrar-caixa input {
    margin-bottom: 10px;

}

#textoLogar-caixa button {
    margin-top: 20px;
}

#inputCadastrar-caixa input {
    padding: 10px;
    border-radius: 10px;
}

#textoLogar-caixa a {
    color: white;
}

#textoLogar-caixa button {
    background-color: #C62828;
    margin-bottom: 10px;
}

#inputCadastrar-caixa button {
    background-color: #FFEB3B;
    margin-bottom: 10px;
    color: black;
}

#textoLogar-caixa button:hover {
    background-color: #A91F1F;
}

#inputCadastrar-caixa button:hover {
    background-color: #E6B800;
    margin-bottom: 10px;
}