.cardapio-container {
    margin: 2px auto 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
}

.cardapioBloco {
    max-width: 350px;
    padding: 20px;
    background-color: #FFEB3B;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}