body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background: linear-gradient(90deg, #FFEB3B,#E53935);
}
label {
    text-align: left;
}

#menu-caixa {
    margin: auto auto;
    max-width: 1200px;
    margin: 20px;
    border-radius: 25px;
    background-color: #E53935;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inputLogin-caixa {
    text-align: center;
    padding: 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 60%;
    background-color: #FFEB3B;
}

#textoCadastro-caixa {
    text-align: center;
    padding: 20px;
    width: 40%;
}

#inputLogin-caixa h1,
#textoCadastro-caixa h2 {
    color: black;
    margin-bottom: 10px;
}

#inputLogin-caixa p,
#textoCadastro-caixa p {
    margin-bottom: 15px;
}

#textoCadastro-caixa button {
    margin-top: 20px;
}

#inputLogin-caixa input {
    padding: 10px;
    border-radius: 10px;
}

#inputLogin-caixa button {
    background-color: #C62828;
    margin-bottom: 10px;
    color: white;
}
#inputLogin-caixa a button {
    all: unset;
    color: blue;
    text-decoration: underline;
}
#inputLogin-caixa a button:hover {
    all: unset;
    cursor: pointer;
}
#textoCadastro-caixa button {
    background-color: #FFEB3B;
    margin-bottom: 10px;
}

#inputLogin-caixa button:hover {
    background-color: #A91F1F;
}

#textoCadastro-caixa button:hover {
    background-color: #E6B800;
}