#meusPedidos-caixa,
#editar-pedidos-caixa,
#finalizar-caixa {
    max-width: 350px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    border: 5px solid #FFEB3B;
    text-align: center;
}

#editar-pedidos-caixa,
#finalizar-caixa {
    background-color: #FFEB3B;
}

#listar-pedidos-caixa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
}

.mensagem {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#meusPedidos-caixa {
    margin: 200px auto 30px auto;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
}

#editar-pedidos-caixa,
#finalizar-caixa {
    margin-bottom: 50px;
}

#finalizar-caixa {
    text-align: center;
}

.pedido-renderizar {
    width: 100%;
    padding: 15px;
    margin: 15px;
    border-radius: 8px;
    background-color: #FFEB3B;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.5s, transform 0.5s;
    max-width: 350px;
    max-width: 100%;
}

.pedido-renderizar:hover {
    transform: scale(1.02);
}

#finalizar-caixa strong,
.pedido-renderizar strong {
    font-weight: 800;
    color: #d32f2f;
    font-size: 16px;
    ;
}

#finalizar-caixa button,
.pedido-renderizar button,
#editar-pedidos-caixa button {

    margin: 6px 8px 0px 0px;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    transition: background-color 0.5s ease, transform 0.5s;
    display: inline-block;
}

#finalizar-caixa button:hover,
.pedido-renderizar button:hover,
#editar-pedidos-caixa button:hover {
    transform: scale(1.1);
}

.deletar-botao,
#cancelar-botao,
.pedido-renderizar .diminuir-quantidade {
    background-color: #e4002b;
}

.deletar-botao:hover,
#cancelar-botao:hover,
.pedido-renderizar .diminuir-quantidade:hover {
    background-color: #9b002e;
}

.editar-botao,
#salvar-botao,
.pedido-renderizar .aumentar-quantidade {
    background-color: green;
}

.editar-botao:hover,
#salvar-botao,
:hover .pedido-renderizar .aumentar-quantidade:hover {
    background-color: rgb(2, 90, 2);
}

#editar-pedidos-caixa label {
    text-align: left;
}

.pedido-renderizar h3 {
    font-size: 25px;
    color: #E53935;
}