footer {
    background-color: #FFEB3B;
    color: #E53935;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    z-index: 1000;
    
}